<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CryptoRama!</title>
    <!-- Link to CSS file -->
    <!-- <link rel="stylesheet" href="../css/main.css"> -->
</head>
<body>
 
    <!-- Links to scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="module" src="../scripts/file.js"></script>
    <script type="module" src="../scripts/encrypt.js"></script>
    <script type="module" src="../scripts/script.js"></script>
</body>
</html>