* {
    box-sizing: border-box;
}
.row {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

body{
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)); */
    background-color: black;
}

.header {
    color: #ffffff;
    padding: 15px;  
}

img{
    max-width: 1000px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
        
}

.imgButton{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    
}

.miniImg{

  
    max-width: 100px;
    min-height: 100px;


}


.nav{
    font-family: "Lucida Sans", sans-serif;
    font-size: 1.20em;
    font-weight: bold;
    text-align: center;
    margin-top: 1emm;
 
}

.nav ul{
    padding: 0;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.nav li{
    background-color: #33b5e5;
    border-radius: 2em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}

.nav li a{
    text-decoration: none;
    color: darkslategray;
    display: block;   
}



h1{
    text-align: center;
    color: rgb(40, 54, 82);
    font-family: cursive;
}

h4{
    text-align: center;
    color: rgb(127, 132, 143);
    font-family: cursive;
}




.footer {

    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.inputBox{
    color: white;
    width: 100%;

}


input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    img{
    width: 100%;
    min-height: 500px;    
    margin-right: auto;
    border-radius: 1em;
    margin-top: 0.3em;
        
    }

    .imgButton{
        width: 100%;
        min-height: 500px;    
        margin-left: 3em;;
        margin-right: auto;
        border-radius: 1em;
        
    }

    .miniImg{
    
     
        position: relative;
        bottom: 0;
        top: 200;
      
        max-width: 100px;
        min-height: 100px;
 

    }
 
    
    .nav{
    font-family: "Lucida Sans", sans-serif;
    font-size: 1.20em;
    font-weight: bold;
    text-align: center;
    margin-top: -0.5em;
    border-radius: 1em;      
        
}

    .nav ul{
    padding: 0;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
     
}

    .nav li{
    background-color: rgb(37, 44, 44); opacity: 0.8; 

    display: inline-grid;
        
    }
    
    .nav li a{
    text-decoration: none;
    color: darkslategray
}

}






